* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.good1, .good2, .good3 {
    width: 150px;
    border: 3px solid brown;
    border-radius: 10px;
    min-height: 300px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    height: 300px;
    margin-top: 10px;
    transition: ease-in-out 1s;
}
.good-bot {
    width: 150px;
    border: 3px solid brown;
    border-radius: 10px;
    min-height: 300px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    height: 300px;
    margin-top: 600px;
    transition: ease-in-out 1s;
}
.speed{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    
}